nav{
    background-color:#D2C1B6;
    padding: 15px;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
img{
    width: 65px;
    margin-right: auto;
    border-radius: 50%
    ;

}
.link{
    color:#1B3C53;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: '';
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.link:hover {
    background-color: #1B3C53;
    color: #D2C1B6;
    
}